<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" negate="true" pattern="^www\." ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" enabled="true" stopProcessing="true">
                    <match url="\.(css|jpe?g|gif|png)$" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 3" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_NAME}" pattern="^/[^\.]+[^/]$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://{HTTP_HOST}/{R:1}/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 4" enabled="true" stopProcessing="true">
                    <match url="^([^/\.]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?location={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" enabled="true" stopProcessing="true">
                    <match url="^([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?location={R:1}&amp;page={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" enabled="true" stopProcessing="true">
                    <match url="^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?location={R:1}&amp;page={R:2}&amp;var={R:3}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
