a:link
{

	color: 0000FF;
	text-decoration: none
}

a:visited
{
	color: 0000cc;
	text-decoration: none
}

a:hover
{
	color: AD0000;
	text-decoration: none
	
}

body 
{  
	background: white;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px
}

p 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px
}

td 
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px
}

blockquote { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px
}

pre { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px
}

table.dataentry
{
	border-top:#9a8348 1px solid;
	border-bottom:#9a8348 1px solid;
	background-color:#f5f2ec;
	padding-top:1px;
}
table.dataentryblue
{
	border-top: #A8CBEE 1px solid;
	padding-top: 1px;
	border-bottom: #A8CBEE 1px solid;
	background-color: #CDE0E8;
}
td.rownameblue
{
	border-right: #ffffff 1px solid;
	font: bold 10px verdana;
	color: #000000;
	border-bottom: #ffffff 1px solid;
	background-color: lightblue;
}
div.table
{
	border-top:#9a8348 1px solid;
	border-bottom:#9a8348 1px solid;
	background-color:#f5f2ec;
	padding-top:1px;
}
td.heading
{
	border-bottom: #ffffff 1px solid;
	font: bold 14px verdana;
	color: white;
	text-decoration: none;
}
tr.heading
{
	background-color: darkblue;
}
td.plain
{
	border-right: #ffffff 1px solid;
	font: 10px verdana;
	color: #000000;
	border-bottom: #ffffff 1px solid;
}
td.rowdata
{
	border-right: #ffffff 1px solid;
	font: 10px verdana;
	color: #000000;
	border-bottom: #ffffff 1px solid;
}
td.rowdatared
{
	border-right: #ffffff 1px solid;
	font: 10px verdana;
	color: #FF0000;
	border-bottom: #ffffff 1px solid;
}
td.rowdatapink
{
	border-right: #ffffff 1px solid;
	font: 10px verdana;
	color: #FF00FF;
	border-bottom: #ffffff 1px solid;
}
td.rowname
{
	background-color: #eeeae0;
	border-right: #ffffff 1px solid;
	font: bold 10px verdana;
	color: #000000;
	border-bottom: #ffffff 1px solid;
}
td.rowinfo
{
	background-color: #eeeae0;
	border-right: #ffffff 1px solid;
	font: 10px verdana;
	color: #000000;
	border-bottom: #ffffff 1px solid;
}
tr.row
{
	border-color: #f5f2ec;
	background-color: #CDE0E8;
}
tr.row2
{
	border-color: #f5f2ec;
	background-color: #A8CBdd;
}
td.rowhelpbutton
{
	border-bottom: #ffffff 1px solid;
	width:5%;
}
input.flattext
{
	border:solid black 1px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
}
a.bluetextsmall
{
	color: #6699cc;
	text-decoration: underline;
	font: 10px Verdana;
}
select.flattext
{
	border:solid black 1px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
}